{% extends "base.html"%}

{% block content %}   
    <h1>Student List</h1>
    <br>

    <form action="/search">
        Name:<input name="search">
        Phone:<input name="phone">
        <input type="submit" value="Search">
    </form>
    <br>  
    
    <table>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.phone }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
